<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>การนำการเรียนรู้ของเครื่องประยุกต์ใช้งานจริง</title>
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: #b8c0f5;
      }
      .div2 {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 30px;
        transform: translate(-50%, -50%);
        border: 1px solid black;
      }
    </style>
  </head>
  <body>

    <div class="div2">
	<h3>การทำนายเกรดเฉลี่ยสะสมจากคะแนนสอบคณิตศาสตร์ </h3> <br><br>
      <form action="http://localhost:5000" , method="POST">
        <p>
          <label for="math">คะแนนสอบคณิตศาสตร์ :</label>
  	  <input type="text" id="math" name="math"><br><br>
	   <div class="center">
  	  <input type="submit" value="ทำนายผล" />
          </div>
        </p>
      </form>
      <br />
      <p>เกรดเฉลี่ยสะสมคือ : {{result}}</p>
    </div>
  </body>
</html>